{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Prohlížej Hudbu</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for song in exploreSongs %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <a href="/MusicHub/public/index.php?page=song&id={{ song.id_song }}">
                            <img src="/MusicHub/public/uploads/covers/{{ song.cover_image }}" class="card-img-top" alt="{{ song.title }}-cover" style="height: 250px; object-fit: cover;">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ song.title }}</h5>
                            <p class="card-text text-muted">{{ song.author }}</p>
                        </div>

                        <div class="card-footer bg-white border-top-0">
                            <audio controls class="w-100" src="/MusicHub/public/uploads/music/{{ song.filename }}"></audio>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}